<div class="nested-fields">
  <p> 
    <%= f.label :price_tier %>
    <%= f.number_field :price_tier %>
    <br><%= f.label :description %>
    <%= f.text_field :description%>

    <br><%= link_to_remove_association "Remove Reward", f%>
  </p>
</div>

